
$color-white: #ffffff;
$color-black: #000000;

// General
$body-color: $color-white;

// Paths
$path-img: '../img/';

//fonts
$fallback-fonts:'Arial, Verdana, Sans-serif';
$font-family: 'montserrat';

// Top bar
$topbar-text-color: $color-black;
$topbar-bg-color: $color-white;
$topbar-bg-bordercolor: $color-white;
$topbar-menu-after-bgcolor: $color-white;
$topbar-menu-hover-color: $color-black;
$topbar-menu-hover-after-bgcolor: $color-black;

// Sections
$section-header-title-color: $color-white;
$section-header-title-span-color: #bd2c4c;

// Section intro
$bgcolor-section-intro: #ff0000;
$sec-intro-header-title-span-color: $color-black;
$sec-intro-text-color: $color-white;

// Como analizados
$analizado-bgcolor-wrap: #c34e67;
$analizado-header-title: $color-black;
$analizado-header-title-span: #bd2c4c;
$filter-item-before-color: #1b1e20;
$filter-item-after-color: #1b1e20;
$filter-item-svg-pahtop-color: #353535;
$filter-item-svg-pahbody-color: #161516;
$filter-item-svg-text-color: $color-white;
$filter-tooltip-bgcolor: #1b1e20;

// Icg Município
$icgmuni-bgcolor: #111214;
$icgmuni-color-text: $color-white;
$icgmuni-map-polygon-fill: $color-white;
$icgmuni-map-polygon-fill-hover: #c33056;

// Plugins

// Rangeslider
$range-track-bgcolor: #ffffff;
$range-bgcolor: #bd2c4c;
