
$path-img: '../img/';

//fonts

$fallback-fonts:'Arial, Verdana, Sans-serif';
$font-family: 'montserrat';

//Top bar'
$topbar-text-color: #ffffff;
$topbar-menu-after-bgcolor: #ffffff;
$topbar-menu-hover-color: #ffffff;

$topbar-active-bgcolor: #ffffff;
$topbar-active-bordercolor: #99070b;
$topbar-active-text-color: #000000;
$topbar-active-menu-hover-color: #000000;
$topbar-active-menu-after-hover-bgcolor: #000000;

// Como analizados
$analizado-header-title: #000000;
$analizado-header-title-span: #dc2525;
$filter-item-before-color: #1b1e20;
$filter-item-after-color: #1b1e20;
$filter-item-svg-pahtop-color: #353535;
$filter-item-svg-pahbody-color: #161516;
$filter-item-svg-text-color: #ffffff;
$filter-tooltip-bgcolor: #1b1e20;
