
$color-white: #ffffff;
$color-black: #000000;

// General
$body-color: $color-white;

// Paths
$path-img: '../img/';

//fonts
$fallback-fonts:'Arial, Verdana, Sans-serif';
$font-family: 'montserrat';

// Top bar
$topbar-text-color: $color-black;
$topbar-bg-color: $color-white;
$topbar-bg-bordercolor: $color-white;
$topbar-menu-after-bgcolor: $color-white;
$topbar-menu-hover-color: #bd2c4c;
$topbar-menu-hover-after-bgcolor: #bd2c4c;

// Sections
$section-header-title-color: $color-white;
$section-header-title-span-color: #bd2c4c;

// Section intro
$bgcolor-section-intro: #ff0000;
$sec-intro-header-title-span-color: $color-black;
$sec-intro-text-color: $color-white;

// Section mais violentas
$bgcolor-section-violentas: #111214;

// Section mais seguras
$bgcolor-section-seguras: $color-white;
$section-seguras-text-color: #303134;
$section-seguras-header-text-color: #bd2c4c;
$section-seguras-header-span-text-color: #303134;
$section-seguras-rangeslider-bar-bgcolor: #303134;
$section-seguras-rangecard-bgcolor: #303134;
$section-seguras-rangecard-titel-color: $color-white;

// Como analizados
$analizado-bgcolor-wrap: #c34e67;
$analizado-header-title: $color-black;
$analizado-header-title-span: #bd2c4c;
$filter-item-before-color: #1b1e20;
$filter-item-after-color: #1b1e20;
$filter-item-svg-pahtop-color: #353535;
$filter-item-svg-pahbody-color: #161516;
$filter-item-svg-text-color: $color-white;
$filter-tooltip-bgcolor: #1b1e20;

// Icg Município
$icgmuni-bgcolor: #111214;
$icgmuni-color-text: $color-white;
$icgmuni-map-polygon-fill: $color-white;
$icgmuni-map-polygon-fill-hover: #c33056;

// Plugins

// Rangeslider
$range-track-bgcolor: $color-white;
$range-bgcolor: #bd2c4c;
$range-selection-bgcolor: $color-white;
$range-selection-handle-bgcolor: #bd2c4c;
$range-list-before-bgcolor: $color-white;
$range-card-bgcolor: $color-white;
$range-card-text-color: #303034;
$range-card-title-text-color: #303034;
$range-card-title-span-text-color: #bd2c4c;
$range-card-btn-text-color: #fff;
$range-card-btn-bgcolor: #c33056;
$range-card-btn-bgcolor-hover: #111214;
$range-card-btn-text-color-active: #960c30;
$range-card-btn-border-color-active: #960c30;
$select-year-mobile-violentas-color: #bd2c4c;
$select-year-mobile-violentas-bgcolor: #ffffff;
$select-year-mobile-seguras-color: #ffffff;
$select-year-mobile-seguras-bgcolor: #303134;

