
$path-img: '../img/';

//fonts

$fallback-fonts:'Arial, Verdana, Sans-serif';
$font-family: 'montserrat';

//Top bar'
$topbar-text-color: #ffffff;
$topbar-menu-after-bgcolor: #ffffff;
$topbar-menu-hover-color: #ffffff;

$topbar-active-bgcolor: #ffffff;
$topbar-active-bordercolor: #99070b;
$topbar-active-text-color: #000000;
$topbar-active-menu-hover-color: #000000;
$topbar-active-menu-after-hover-bgcolor: #000000;



