// Indice criminal do estado do rio de janeiro.
// Desenvolvido por Ministério Público do Estado do Rio de Janeiro em: 03/07/2017


// Montserrat family

@font-face {
    font-family: 'montserrat_regular';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'montserrat_bold';
    src: url('../fonts/montserrat-bold-webfont.eot');
    src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff'),
         url('../fonts/montserrat-bold-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'montserrat_italic';
    src: url('../fonts/montserrat-italic-webfont.eot');
    src: url('../fonts/montserrat-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-italic-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-italic-webfont.woff') format('woff'),
         url('../fonts/montserrat-italic-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-italic-webfont.svg#montserratitalic') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'montserrat_light';
    src: url('../fonts/montserrat-light-webfont.eot');
    src: url('../fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-light-webfont.woff') format('woff'),
         url('../fonts/montserrat-light-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

@font-face {
    font-family: 'montserrat_semibolditalic';
    src: url('../fonts/montserrat-semibolditalic-webfont.eot');
    src: url('../fonts/montserrat-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-semibolditalic-webfont.woff') format('woff'),
         url('../fonts/montserrat-semibolditalic-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-semibolditalic-webfont.svg#montserratsemibolditalic') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

@font-face {
    font-family: 'montserrat_extrabold';
    src: url('../fonts/montserrat-extrabold-webfont.eot');
    src: url('../fonts/montserrat-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-extrabold-webfont.woff') format('woff'),
         url('../fonts/montserrat-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-extrabold-webfont.svg#montserratextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

@font-face {
    font-family: 'montserrat_extrabolditalic';
    src: url('../fonts/montserrat-extrabolditalic-webfont.eot');
    src: url('../fonts/montserrat-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-extrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-extrabolditalic-webfont.woff') format('woff'),
         url('../fonts/montserrat-extrabolditalic-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-extrabolditalic-webfont.svg#montserratextrabolditalic') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
