@charset "UTF-8";
/*!
 * Indice criminal do estado do rio de janeiro.
 * Desenvolvido por Ministério Público do Estado do Rio de Janeiro em: 03/07/2017
 */
@font-face {
  font-family: 'montserrat_regular';
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular-webfont.ttf") format("truetype"), url("../fonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'montserrat_bold';
  src: url("../fonts/montserrat-bold-webfont.eot");
  src: url("../fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold-webfont.ttf") format("truetype"), url("../fonts/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'montserrat_italic';
  src: url("../fonts/montserrat-italic-webfont.eot");
  src: url("../fonts/montserrat-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-italic-webfont.woff2") format("woff2"), url("../fonts/montserrat-italic-webfont.woff") format("woff"), url("../fonts/montserrat-italic-webfont.ttf") format("truetype"), url("../fonts/montserrat-italic-webfont.svg#montserratitalic") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'montserrat_light';
  src: url("../fonts/montserrat-light-webfont.eot");
  src: url("../fonts/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-light-webfont.woff2") format("woff2"), url("../fonts/montserrat-light-webfont.woff") format("woff"), url("../fonts/montserrat-light-webfont.ttf") format("truetype"), url("../fonts/montserrat-light-webfont.svg#montserratlight") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'montserrat_semibolditalic';
  src: url("../fonts/montserrat-semibolditalic-webfont.eot");
  src: url("../fonts/montserrat-semibolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-semibolditalic-webfont.woff2") format("woff2"), url("../fonts/montserrat-semibolditalic-webfont.woff") format("woff"), url("../fonts/montserrat-semibolditalic-webfont.ttf") format("truetype"), url("../fonts/montserrat-semibolditalic-webfont.svg#montserratsemibolditalic") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'montserrat_extrabold';
  src: url("../fonts/montserrat-extrabold-webfont.eot");
  src: url("../fonts/montserrat-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-extrabold-webfont.woff2") format("woff2"), url("../fonts/montserrat-extrabold-webfont.woff") format("woff"), url("../fonts/montserrat-extrabold-webfont.ttf") format("truetype"), url("../fonts/montserrat-extrabold-webfont.svg#montserratextrabold") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'montserrat_extrabolditalic';
  src: url("../fonts/montserrat-extrabolditalic-webfont.eot");
  src: url("../fonts/montserrat-extrabolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-extrabolditalic-webfont.woff2") format("woff2"), url("../fonts/montserrat-extrabolditalic-webfont.woff") format("woff"), url("../fonts/montserrat-extrabolditalic-webfont.ttf") format("truetype"), url("../fonts/montserrat-extrabolditalic-webfont.svg#montserratextrabolditalic") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 1, src/sass/plugins/_anchor-scroll.scss */
.anchor-scroll {
  position: absolute;
  top: -50px;
  visibility: hidden;
  font-size: 0;
}

/* ==========================================================================
   Reset
   ========================================================================== */
/* line 5, src/sass/general/_reset.scss */
html,
body,
main {
  height: 100%;
}

/* line 9, src/sass/general/_reset.scss */
a {
  color: inherit;
}

/* line 12, src/sass/general/_reset.scss */
a:hover, a:active, a:focus, a:focus:hover {
  transition-duration: 0.1s;
}

/* line 17, src/sass/general/_reset.scss */
a:hover {
  text-decoration: inherit;
}

/* line 22, src/sass/general/_reset.scss */
img, iframe, object, video {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* line 30, src/sass/general/_reset.scss */
form:after, form:before {
  display: table;
  content: " ";
}

/* line 36, src/sass/general/_reset.scss */
form:after {
  clear: both;
}

/* line 40, src/sass/general/_reset.scss */
textarea {
  max-width: 100%;
  width: 100%;
}

/* line 45, src/sass/general/_reset.scss */
b {
  font-family: 'robotobold';
}

/* line 3, src/sass/general/_general.scss */
body {
  font-family: "montserrat_regular", Arial, Verdana, Sans-serif;
  background-color: #272932;
}

/* line 8, src/sass/general/_general.scss */
main {
  height: auto;
}

/* line 9, src/sass/general/_general.scss */
b {
  font-family: "montserrat_bold", Arial, Verdana, Sans-serif;
}

/* line 10, src/sass/general/_general.scss */
strong {
  font-family: "montserrat_extrabold", Arial, Verdana, Sans-serif;
}

/* line 11, src/sass/general/_general.scss */
.container {
  position: relative;
}

/* line 3, src/sass/layout/_topbar.scss */
.topbar--menu, .topbar--menu li {
  display: inline-block;
}

/* line 7, src/sass/layout/_topbar.scss */
.topbar {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #ffffff;
  border-bottom: solid 8px transparent;
  transition: all .15s;
}

/* line 14, src/sass/layout/_topbar.scss */
.topbar--logo {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 56px;
  font-family: "montserrat_semibolditalic", Arial, Verdana, Sans-serif;
}

/* line 23, src/sass/layout/_topbar.scss */
.topbar--menu {
  padding-top: 10px;
  font-size: 16px;
}

/* line 30, src/sass/layout/_topbar.scss */
.topbar--menu a {
  position: relative;
  display: block;
  margin-left: 12px;
}

/* line 35, src/sass/layout/_topbar.scss */
.topbar--menu a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  opacity: 0;
  height: 2px;
  background: #ffffff;
  transition: all .25s ease-out;
}

/* line 47, src/sass/layout/_topbar.scss */
.topbar--menu a:hover {
  color: #ffffff;
}

/* line 50, src/sass/layout/_topbar.scss */
.topbar--menu a:hover:after {
  width: 100%;
  opacity: 1;
  transition: all .3s ease-in;
}

/* line 63, src/sass/layout/_topbar.scss */
.topbar.active {
  padding-top: 15px;
  padding-bottom: 10px;
  transition: all .3s;
  background-color: #ffffff;
  color: #000000;
  border-color: #000000;
}

/* line 71, src/sass/layout/_topbar.scss */
.topbar.active .topbar--menu a:hover {
  color: #000000;
}

/* line 73, src/sass/layout/_topbar.scss */
.topbar.active .topbar--menu a:hover:after {
  background: #000000;
}

/* line 4, src/sass/layout/_sections.scss */
.section-header {
  text-align: center;
}

/* line 7, src/sass/layout/_sections.scss */
.section-header--title {
  font-size: 46px;
  font-family: "montserrat_bold", Arial, Verdana, Sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}

/* line 13, src/sass/layout/_sections.scss */
.section-header--title span {
  color: #bd2c4c;
}

/* line 19, src/sass/layout/_sections.scss */
.section-header--text {
  font-size: 20px;
}

/* line 3, src/sass/layout/_section-intro.scss */
.bgcolor-section-intro {
  position: relative;
  background-color: #ff0000;
  padding-bottom: 160px;
}

/* line 8, src/sass/layout/_section-intro.scss */
.bgcolor-section-intro:after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/img-prisao_1980w_x_1268h.jpg");
  background-size: cover;
  opacity: .25;
}

/* line 22, src/sass/layout/_section-intro.scss */
.section-intro {
  position: relative;
  z-index: 2;
  padding-top: 120px;
  font-size: 20px;
  font-family: "montserrat_light", Arial, Verdana, Sans-serif;
  color: #ffffff;
}

/* line 30, src/sass/layout/_section-intro.scss */
.section-intro span {
  color: #000000;
}

/* line 32, src/sass/layout/_section-intro.scss */
.section-intro .section-header {
  margin-bottom: 30px;
}

/* line 5, src/sass/layout/_section-como-analizado.scss */
.filter-item .svg-filtro--path-topo, .filter-item .svg-filtro--path-body, .filter-item .svg-filtro--txt path {
  transition: all .15s ease;
}

/* line 9, src/sass/layout/_section-como-analizado.scss */
.filter-item:hover .svg-filtro--path-topo, .filter-item:hover .svg-filtro--path-body, .filter-item:hover .svg-filtro--txt path {
  transition: all .3s ease;
}

/* line 13, src/sass/layout/_section-como-analizado.scss */
.bg-section-analizado {
  position: relative;
  background-color: white;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 50%, #c34e67 50%, #c34e67 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 50%, #c34e67 50%, #c34e67 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 50%, #c34e67 50%, #c34e67 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c34e67',GradientType=0 );
}

/* line 24, src/sass/layout/_section-como-analizado.scss */
.bg-section-analizado:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: -140px;
  left: 0;
  background: url("../img/border-triangle.svg") no-repeat top;
}

/* line 37, src/sass/layout/_section-como-analizado.scss */
.section-analizado {
  position: relative;
  z-index: 2;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 43, src/sass/layout/_section-como-analizado.scss */
.section-analizado .section-header {
  margin-bottom: 50px;
  text-align: left;
}

/* line 48, src/sass/layout/_section-como-analizado.scss */
.section-analizado .section-header--title {
  color: #000000;
}

/* line 50, src/sass/layout/_section-como-analizado.scss */
.section-analizado .section-header--title span {
  font-size: 60px;
  color: #bd2c4c;
}

/* line 56, src/sass/layout/_section-como-analizado.scss */
.section-analizado--filter {
  width: 430px;
  text-align: center;
}

/* line 64, src/sass/layout/_section-como-analizado.scss */
.filter-item {
  position: relative;
  margin: 0 auto 10px;
  text-align: left;
  overflow: hidden;
}

/* line 70, src/sass/layout/_section-como-analizado.scss */
.filter-item:before {
  content: '\f055';
  position: absolute;
  top: 39%;
  right: 0;
  font: 30px 'FontAwesome';
  color: #1b1e20;
}

/* line 80, src/sass/layout/_section-como-analizado.scss */
.filter-item:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  border: 2px dashed #1b1e20;
}

/* line 89, src/sass/layout/_section-como-analizado.scss */
.filter-item.delitos {
  width: 740px;
}

/* line 91, src/sass/layout/_section-como-analizado.scss */
.filter-item.delitos:after {
  width: 36%;
}

/* line 94, src/sass/layout/_section-como-analizado.scss */
.filter-item.filtrados {
  width: 620px;
  padding-left: 50px;
}

/* line 97, src/sass/layout/_section-como-analizado.scss */
.filter-item.filtrados:after {
  width: 33%;
}

/* line 100, src/sass/layout/_section-como-analizado.scss */
.filter-item.analisados {
  width: 450px;
  padding-left: 92px;
}

/* line 103, src/sass/layout/_section-como-analizado.scss */
.filter-item.analisados:after {
  width: 17%;
}

/* line 106, src/sass/layout/_section-como-analizado.scss */
.filter-item.fatores {
  width: 355px;
  padding-left: 92px;
}

/* line 109, src/sass/layout/_section-como-analizado.scss */
.filter-item.fatores:after {
  width: 14%;
}

/* line 112, src/sass/layout/_section-como-analizado.scss */
.filter-item.indice {
  width: 260px;
  padding-left: 72px;
}

/* line 115, src/sass/layout/_section-como-analizado.scss */
.filter-item.indice:after {
  width: 12%;
}

/* line 130, src/sass/layout/_section-como-analizado.scss */
.filter-item:hover .svg-filtro--path-topo {
  fill: #353535;
}

/* line 135, src/sass/layout/_section-como-analizado.scss */
.filter-item:hover .svg-filtro--path-body {
  fill: #161516;
}

/* line 140, src/sass/layout/_section-como-analizado.scss */
.filter-item:hover .svg-filtro--txt path {
  fill: #ffffff;
}

/* line 153, src/sass/layout/_section-como-analizado.scss */
.tooltip-filtro.in {
  opacity: 1;
}

/* line 155, src/sass/layout/_section-como-analizado.scss */
.tooltip-filtro .tooltip-inner {
  padding: 25px 30px;
  max-width: none;
  font-size: 16px;
  text-align: left;
  background-color: #1b1e20;
  border-radius: 30px;
}

/* line 3, src/sass/layout/_section-icgmuni.scss */
.bg-section-icgmuni {
  background-color: #111214;
}

/* line 7, src/sass/layout/_section-icgmuni.scss */
.section-icgmuni {
  padding-top: 80px;
}

/* line 10, src/sass/layout/_section-icgmuni.scss */
.section-icgmuni .section-header {
  text-align: left;
  color: #ffffff;
}

/* line 14, src/sass/layout/_section-icgmuni.scss */
.section-icgmuni .section-header--title {
  text-transform: initial;
}

/* line 23, src/sass/layout/_section-icgmuni.scss */
.maprio polygon {
  transition: fill .3s ease-in-out .1s;
  fill: #ffffff;
}

/* line 27, src/sass/layout/_section-icgmuni.scss */
.maprio polygon:hover {
  cursor: pointer;
  fill: #c33056;
  transition: fill .12s ease-in-out .1s;
}

/* line 3, src/sass/layout/_footer.scss */
.footer {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #ffffff;
}

/* line 8, src/sass/layout/_footer.scss */
.footer-logo {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  width: 90px;
  height: 45px;
  text-indent: -9999px;
  background: url("../img/img-logo-mpemmapas_86w_x45h.png") no-repeat;
}

/* line 17, src/sass/layout/_footer.scss */
.footer-logo a {
  display: block;
  width: inherit;
  height: inherit;
}

/* line 24, src/sass/layout/_footer.scss */
.footer address {
  float: right;
  margin-bottom: 0;
  width: 470px;
  text-align: right;
}

/*# sourceMappingURL=indice-criminal.css.map */
