// Range ICG

.rangeslider {

  @include media-min992 {
    margin-right: auto;
    margin-left: auto;
    width: 96%;
  }

  // Slider

  .slider {
    %slider-noboxshadow { box-shadow: none; }
    z-index: 2;

    &.slider-horizontal {
      width: 100%;
    }

    &-track {
      background: $range-track-bgcolor;
    }

    &-selection{
      background-color: $range-selection-bgcolor;
      @extend %slider-noboxshadow;
    }

    &-handle {
      background: $range-selection-handle-bgcolor;
      @extend %slider-noboxshadow;
    }

    &:hover {
      cursor: pointer;
    }

  }

  // list

  &-list {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    list-style: none;
    li {
      position: relative;
      font-size: 20px;
      @include font-family('bold');

      &:before {
        content: '';
        position: absolute;
        top: -20px;
        left: -10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $range-list-before-bgcolor;
      }

      span {
        position: absolute;
        left: -24px;
      }
    }
  }

}

// Select year mobile
.select-yearmobile {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;

  @include media-min992 {
    display: none;
  }
}

.rangeicg {
  padding-top: 15px;

  &-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 22px;
    @include font-family('light');
    text-align: center;

    @include media-min768 {
      font-size: 24px;
    }

  }

  &-ranking {
    margin-top: 40px;
    padding-left: 0;
    text-align: center;

    @include media-min992 {
      display: flex;
      justify-content: space-between;
    }

  }

  &-card {
    display: inline-block;
    width: 75%;
    min-width: 180px;
    padding: 5px 5px 5px;
    margin-bottom: 25px;
    text-align: center;
    color: $range-card-text-color;
    background-color: $range-card-bgcolor;
    border-radius: 5px;
    cursor: pointer;

    @include media-min992 {
      width: 180px;
      padding-top: 0;
      padding-bottom: 15px;
      margin-bottom: 0;
    }

    @include media-min1200 {
      width: 218px;
    }

    &-title {
      font-size: 26px;
      margin-top: 10px;

      @include media-max480 {
        font-size: 5vw;
      }

      @include media-min992 {
        font-size: 16px;
        margin-top: 15px;
      }

      @include media-min1200 {
        font-size: 20px;
      }

      strong {
        display: block;
        font-size: 28px;

        @include media-max480 {
          font-size: 5.8vw;
        }

        @include media-min992 {
          font-size: 18px;
        }

        @include media-min1200 {
          font-size: 22px;
        }
      }
      span { color: $range-card-title-span-text-color; }
    }

    img {
      margin-bottom: 15px;
      width: 52%;
    }

    figcaption {
      margin-bottom: 10px;
      font-size: 20px;
      @include font-family('extrabold');

      @include media-max768 {
        font-size: 24px;
      }

      @include media-max480 {
        font-size: 5.2vw;
      }

      @include media-min992 {
        font-size: 15px;
      }
    }

    &-btn {
      padding: 5px 15px;
      font-size: 12px;
      line-height: 20px;
      color: $range-card-btn-text-color;
      text-transform: uppercase;
      border-radius: 20px;
      border: solid 1px transparent;
      background-color: $range-card-btn-bgcolor;
      transition-duration: 0.3s;
    }

    > a {
      color: inherit;
      &:hover {
        .rangeicg-card-btn {
          transition-duration: 0.15s;
          background-color: $range-card-btn-bgcolor-hover;
        }
      }
      &:active {
        .rangeicg-card-btn {
          transition-duration: 0.15s;
          background-color: transparent;
          color: $range-card-btn-text-color-active;
          border-color: $range-card-btn-border-color-active;
        }
      }
    }

    .card {
      display: none;

      @include media-min992 {
        display: block
      }

    }

   .card-mobile {
      display: block;

      @include media-min992 {
        display: none;
      }

      .rangeicg-card-btn {
        display: none;
      }

      svg {
        display: block;
        margin: 0 auto 15px;
        width: 50%;
        height: 50%;
      }

    }

  }

}

.img-faixaindice {
  display: inherit;
  margin-left: auto;
  margin-right: auto;
  width: 970px;
}
