// Range ICG

.rangeslider {

  // Slider

  .slider {
    %slider-noboxshadow { box-shadow: none; }
    z-index: 2;

    &.slider-horizontal {
      width: 100%;
    }

    &-track {
      background: $range-track-bgcolor;
    }

    &-selection{
      background-color: $range-selection-bgcolor;
      @extend %slider-noboxshadow;
    }

    &-handle {
      background: $range-selection-handle-bgcolor;
      @extend %slider-noboxshadow;
    }

    &:hover {
      cursor: pointer;
    }

  }

  // list

  &-list {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    list-style: none;
    li {
      position: relative;
      font-size: 20px;
      @include font-family('bold');

      &:before {
        content: '';
        position: absolute;
        top: -20px;
        left: -10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $range-list-before-bgcolor;
      }

      span {
        position: absolute;
        left: -24px;
      }
    }
  }

}

.rangeicg {
  padding-top: 20px;

  &-title {
    font-size: 24px;
    @include font-family('light');
    margin-bottom: 20px;
    text-align: center;
  }

  &-ranking {
    margin-top: 50px;
    padding-left: 0;
    display: flex;
    justify-content: space-between;

  }

  &-card {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px;
    width: 218px;
    text-align: center;
    color: $range-card-text-color;
    background-color: $range-card-bgcolor;
    border-radius: 5px;

    &-title {
      font-size: 20px;
      strong {
        display: block;
        font-size: 22px;
      }
      span { color: $range-card-title-span-text-color; }
    }

    img { margin-bottom: 15px; }

    figcaption {
      margin-bottom: 10px;
      @include font-family('extrabold');
      font-size: 12px;
    }

    &-btn {
      padding: 5px 15px;
      font-size: 12px;
      line-height: 20px;
      color: $range-card-btn-text-color;
      text-transform: uppercase;
      border-radius: 20px;
      border: solid 1px transparent;
      background-color: $range-card-btn-bgcolor;
      transition-duration: 0.3s;
    }

    > a {
      color: inherit;
      &:hover {
        .rangeicg-card-btn {
          transition-duration: 0.15s;
          background-color: $range-card-btn-bgcolor-hover;
        }
      }
      &:active {
        .rangeicg-card-btn {
          transition-duration: 0.15s;
          background-color: transparent;
          color: $range-card-btn-text-color-active;
          border-color: $range-card-btn-border-color-active;
        }
      }
    }

  }

}
