// Section icg município

.bg-section-icgmuni {
  background-color: #111214;
}

.section-icgmuni {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;

    .section-header {
      position: relative;
      top: 80px;
      z-index: 1;
      text-align: left;
      color: #ffffff;

      &--title {
        text-transform: initial;
      }

    }
}

.maprio {
  position: relative;
  z-index: 2;
  width: 800px;

  @include mediamin(1400px){
    top: -60px;
    width: 1000px;
  }

  polygon {
    transition: fill .3s ease-in-out .1s;
    fill: #ffffff;

    &:hover {
      cursor: pointer;
      fill: #c33056;
      transition: fill .12s ease-in-out .1s;
    }

  }

}
