// General sections


.section-header {
  text-align: center;

  &--title {
    font-size: 46px;
    @include font-family('bold');
    text-transform: uppercase;
    color: #ffffff;

    span {
      color: #1d1b1b;
    }

  }

}

