// Section mais seguras

.bg-section-seguras {
  background: $bgcolor-section-seguras
}

.section-seguras {
  @extend %sectionsicg;
  color: $section-seguras-text-color;

  .section-header--title {
    color: $section-seguras-header-text-color;

    span {
      color: $section-seguras-header-span-text-color;
    }

  }

  .rangeslider {

    .slider-track,
    .slider-selection {
      background: $section-seguras-rangeslider-bar-bgcolor;
    }

    &-list {
      li:before {
        background-color: $section-seguras-rangeslider-bar-bgcolor;
      }
    }

  }

  .rangeicg-card {
    background-color: $section-seguras-rangecard-bgcolor;

    &-title,
    figcaption {
      color: $section-seguras-rangecard-titel-color;
    }

  }
}




