// Section mais violentas

.bg-section-violentas {
  background: $bgcolor-section-violentas;
}

.section-violentas {
  @extend %sectionsicg;

  .select-yearmobile {
    color: $select-year-mobile-violentas-color;
    background-color: $select-year-mobile-violentas-bgcolor;
  }
}


.section-violentas .section-header--title {
 @extend %sectionViolentasTitle;
}

