// Section icg município

.bg-section-icgmuni {
  background-color: $icgmuni-bgcolor;
}

.section-icgmuni {
    padding-top: 40px;
    padding-bottom: 80px;
    text-align: center;
    height: 760px;

    @include media-min1800{
      height: auto;
    }

    .section-header {
      position: relative;
      top: 80px;
      z-index: 1;
      text-align: left;
      color: $icgmuni-color-text;

      &--title {
        text-transform: initial;
        font-size: 42px;
      }

    }
}

.maprio {
  position: relative;
  z-index: 2;
  width: 800px;

  @include media-min1400{
    top: -72px;
    width: 950px;
  }

  @include media-min1800{
      height: auto;
  }

  path {
    transition: fill .3s ease-in-out .1s;
    fill: $icgmuni-map-polygon-fill;

    &:hover {
      cursor: pointer;
      fill: $icgmuni-map-polygon-fill-hover;
      transition: fill .12s ease-in-out .1s;
    }

  }

}
