// Section mais seguras

.bg-section-seguras {
  background: $bgcolor-section-seguras
}

.section-seguras {
  @extend %sectionsicg;
  color: $section-seguras-text-color;

  @include media-min992 {
    font-size: 14px;
  }

  .section-header--title {
     @extend %sectionViolentasTitle;
    color: $section-seguras-header-text-color;

    span {
      color: $section-seguras-header-span-text-color;
    }

  }

  .rangeslider {

    .slider-track,
    .slider-selection {
      background: $section-seguras-rangeslider-bar-bgcolor;
    }

    &-list {
      li:before {
        background-color: $section-seguras-rangeslider-bar-bgcolor;
      }
    }

  }

  .rangeicg-card {
    background-color: $section-seguras-rangecard-bgcolor;

    &-title {
      color: $section-seguras-rangecard-titel-color;
    }
    &--title-municipio {
      color: #ffffff;
    }

  }

  .select-yearmobile {
    color: $select-year-mobile-seguras-color;
    background-color: $select-year-mobile-seguras-bgcolor;
  }
}




