// Section como analizado
%bggradient-analisado {
  // Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,c34e67+50,c34e67+100
  background-color: rgba(255, 255, 255, 1);
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 50%, #c34e67 50%, #c34e67 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 50%, #c34e67 50%, #c34e67 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 50%, #c34e67 50%, #c34e67 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c34e67', GradientType=0);
}

.section-wrap-analisado {
  z-index: 5;
  .fp-tableCell {
    @extend %bggradient-analisado;
  }
}

.bg-section-analizado {
  position: relative;
  @extend %bggradient-analisado;
}

.section-analizado {
  position: relative;
  z-index: 2;
  padding-top: 30px;
  padding-bottom: 30px;

  @include media-min768 {
    padding-bottom: 50px;
  }

  @include media-min992 {
    padding-top: 100px;
  }

  @include media-min1400 {
    padding-top: 0;
    height: 620px;
    padding-bottom: 0;
    margin-top: 50px;
  }

  .section-header {
    margin-bottom: 32px;
    text-align: left;

    @include media-min768{
      padding-top: 20px;
    }

    @include media-min992{
      padding-top: 0;
      margin-bottom: 50px;
    }
  }

  .section-header--title {
    margin-top: 0;
    text-align: center;
    color: $analizado-header-title;

    @include media-max768{
      font-size: 6.2vw;
      padding-top: 1.2vw;
      padding-bottom: 1.2vw;
    }

    @include media-min992 {
      text-align: left;
    }

    span {
      color: $analizado-header-title-span;

      @include media-min992{
        font-size: 60px;

      }

    }

  }

  &--filter {
    text-align: center;
    @include media-min992 {
      width: 430px;
    }
  }
}

// Svg filter
%filtro-svg-trsn {
  transition: all .15s ease;
}

%filtro-hover-svg-trsn {
  transition: all .3s ease;
}

.filter-item {
  position: relative;
  margin: 0 auto 10px;
  text-align: left;
  overflow: hidden;

  @include media-min992{
    &:before {
      content: '\f055';
      position: absolute;
      top: 39%;
      right: 0;
      font: 30px 'FontAwesome';
      color: $filter-item-before-color;
    }
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      width: 100%;
      height: 2px;
      border: 2px dashed $filter-item-after-color;
    }
  }

  &.delitos {

    @include media-min992{
      width: 540px;
    }

    &:after {
      width: 36%;

      @include media-min1200 {
        width: 26%;
      }

      @include media-min1400 {
        width: 36%;
      }

    }

    .svg-filtro {

      @include media-min992 {
        width: 300px;
      }

      @include media-min1200 {
        width: 380px;
      }

      @include media-min1400 {
        width: 448px;
      }
    }

    @include media-min1400 {
      width: 740px;
      svg {
        width: auto;
      }
    }
  }

  &.filtrados {

    @include media-min992 {
      top: -32px;
      padding-left: 39px;
      width: 538px;
    }

    @include media-min1200 {
      top: -16px;
      padding-left: 44px;
    }

    @include media-min1400 {
      padding-left: 64px;
    }

    &:after {

      @include media-min992 {
        width: 43%;
      }

      @include media-min1200 {
        width: 32%;
      }

      @include media-min1400 {
        width: 30%;
      }

    }

    .svg-filtro {

      @include media-min992 {
        width: 225px;
      }

      @include media-min1200 {
        width: 290px;
      }

      @include media-min1400 {
        width: 320px;
      }

    }

    @include media-min1400 {
      &:after {
        width: 44%;
      }
    }
  }

  &.analisados {
    left: 5px;

    @include media-min992 {
      top: -64px;
      left: -60px;
      padding-left: 130px;
      width: 596px;
    }

    @include media-min1200 {
      top: -24px;
      left: -46px;
      width: 583px;
    }

    &:after {

      @include media-min992 {
        width: 42.8%;
      }

      @include media-min1200 {
        width: 36%;
      }
    }

    .svg-filtro {

      @include media-min992 {
        width: 165px;
      }

      @include media-min1200 {
        width: 214px;
      }

      @include media-min1400 {
        width: 264px;
      }
    }

    @include media-min1400 {
      padding-left: 92px;
      &:after {
        width: 49.5%;
      }
    }
  }

  &.indice {

    @include media-min992{
      top: -98px;
      left: -54px;
      padding-left: 154px;
      width: 589px;
    }

    @include media-min1200{
      top: -37px;
      left: -32px;
      padding-left: 154px;
      width: 568px;
    }

    &:after {

      @include media-min992 {
        width: 48%;
      }

      @include media-min1200 {
        width: 44%;
      }

      @include media-min1400 {
        width: 52%;
      }
    }

    .svg-filtro {

      @include media-min992{
        width: 105px;
      }

      @include media-min1200 {
        width: 135px;
      }

      @include media-min1400 {
        width: 192px;
      }
    }
    @include media-min1400 {
      padding-left: 130px;
      &:after {
        width: 54%;
      }
    }
  }

  &.filtrados,
  &.analisados,
  &.fatores,
  &.indice {
    @include media-min1400 {
      top: 10px;
      left: 0;
      width: 740px;
      svg {
        width: auto;
      }
    }
  }
  &:hover {
    cursor: help;
  }
  //Style svg
  .svg-filtro {
    width: 100%;
    &--path-topo {
      @extend %filtro-svg-trsn;
    }
    &--path-body {
      @extend %filtro-svg-trsn;
    }
    &--txt path {
      @extend %filtro-svg-trsn;
    }
  }
  // Hover svg
  &:hover {
    .svg-filtro {
      &--path-topo {
        fill: $filter-item-svg-pahtop-color;
        @extend %filtro-hover-svg-trsn;
      }
      &--path-body {
        fill: $filter-item-svg-pahbody-color;
        @extend %filtro-hover-svg-trsn;
      }
      &--txt path {
        fill: $filter-item-svg-text-color;
        @extend %filtro-hover-svg-trsn;
      }
    }
  }
}

// Svg mobile

.analisado-filter-mobile {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @include media-max768{
    width: 65%;
  }

  @include media-max480{
    width: 80%;
  }

  @include media-min768{
    width: 60%;
  }

  @include media-min992 {
    display: none;
  }
}

.tooltip-filtro {
  &.in {
    opacity: 1;
  }
  .tooltip-inner {
    padding: 25px 30px;
    max-width: none;
    font-size: 16px;
    text-align: left;
    background-color: $filter-tooltip-bgcolor;
    border-radius: 30px;
  }
}
