// Section saiba mais

.section-saibamais {

  @include media-max768 {
    padding-top: 20px;
    padding-bottom: 20px;

    .section-header--title {
      font-size: 5.2vw;
    }

    .section-header--text {
      font-size: 20px;
    }

  }

  @include media-max480 {
    .section-header--title {
      font-size: 6vw;
    }

    .section-header--text {
      font-size: 15px;
    }

  }

  @include media-min768 {
    .section-header--title {
      font-size: 35px;
    }
  }

  @include media-min992 {
    .section-header--title {
      font-size: 46px;
    }
  }

}

.saibamais-downloads {
  padding-top: 20px;
  @include font-family('light');
  &-title {
    @include font-family('bold');
  }
  div[class^="col-"] {
    padding-left: 30px;
    padding-right: 30px;
  }

}

.btn-download {
  border-width: 2px;
  border-color: #303134;
  background-color: transparent;
  transition-duration: .3s;
  line-height: 30px;
  margin-bottom: 20px;

  @include media-max480 {
    font-size: 16px;
    line-height: 20px;
  }

  @include media-min992 {
    margin-bottom: 0;
  }
  &:hover,
  &:active {
    background-color: #303134;
    border-color: #303134;
    color: #ffffff;
    transition-duration: .15s;
  }
  &:active,
  &:focus,
  &:active:focus {
    color: #ffffff;
    background-color: #101113;
  }

}

.btn-dropdown-download.open {
  >.btn-download {
    @extend .btn-download:hover;
    &:active,
    &:focus,
    &:active:focus {
      @extend .btn-download:active;
    }
  }
}

.dropdown-menu-download {
  > li > a:hover {
    @extend .btn-download:active;
  }
}
