// General sections


.section-header {
  text-align: center;

  &--title {
    font-size: 46px;
    @include font-family('bold');
    text-transform: uppercase;
    color: $section-header-title-color;

    span {
      color: $section-header-title-span-color;
    }

  }

  &--text {
    font-size: 20px;
  }

}

// Sections filter cards

.wrap-cards { min-height: 300px; }

.fade-card {

  .rangeicg-ranking {
    transition: opacity ease-in 3s;
    opacity: 0;
  }

}

.rangeicg-ranking {
  transition: opacity ease-out 1.5s;
  opacity: 1;
}

