// Topfixed

 %inline-blockmenu {
  display: inline-block;
}

.topbar {
  padding-top: 30px;

  &-logo {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 0;
    width: 100px;
    height: 42px;
    text-indent: -9999px;
    background: url("#{$path-img}img-logo-icg_100w_x42h.png");
  }

  &-menu {
    @extend %inline-blockmenu;
    padding-top: 10px;
    font-size: 16px;
    color: #ffffff;

    li {
      @extend %inline-blockmenu;

      a {
        position: relative;
        display: block;
        margin-left: 12px;

        &:after {
          content: '';
          position: absolute;
          left:0;
          bottom: 0;
          width: 0;
          opacity: 0;
          height: 2px;
          background: #ffffff;
          transition: all .4s ease-out;
        }


        &:hover {
          color: #ffffff;

          &:after {
            width: 100%;
            opacity: 1;
            transition: all .35s ease-in;

          }

        }

      }

    }

  }


}


