// Topfixed

 %inline-blockmenu {
  display: inline-block;
}

%create-line-and-hover {
  &:after {
    content: '';
    position: absolute;
    left:0;
    bottom: 0;
    width: 0;
    opacity: 0;
    height: 2px;
    background: $topbar-menu-after-bgcolor;
    transition: all .25s ease-out;
  }

  &:hover {
    color: $topbar-menu-hover-color;

    &:after {
      width: 100%;
      opacity: 1;
      transition: all .3s ease-in;
      background: $topbar-menu-hover-after-bgcolor;
    }

  }
}

.topbar {
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 5px;
  color: $topbar-text-color;
  border-bottom: solid 6px #000;
  transition: all .15s;
  background-color: $topbar-bg-color;
  color: $topbar-text-color;

  &--logo {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 42px;
    @include font-family('semibolditalic');

    span {
      @include font-family('bold');
    }

  }

  &--menu {
    @extend %inline-blockmenu;
    padding-top: 14px;
    font-size: 14px;
    float: right;

    li { @extend %inline-blockmenu; }

    a {
      position: relative;
      display: block;
      margin-left: 12px;
      font-size: 13px;
      text-decoration: none;
      @extend %create-line-and-hover;

    }

  }

}

@for $count from 1 through 6 {
  .fp-viewing-anchor#{$count} {
    .topbar--menu-link:nth-child(#{$count}) a {
      color: $topbar-menu-hover-color;
      &:after {
        @extend %create-line-and-hover;
        width: 100%;
        opacity: 1;
        background-color:$topbar-menu-hover-after-bgcolor;
      }
    }
  }
}


