// Topfixed

 %inline-blockmenu {
  display: inline-block;
}

%create-line-and-hover {
  &:after {
    content: '';
    position: absolute;
    left:0;
    bottom: 0;
    width: 0;
    opacity: 0;
    height: 2px;
    background: $topbar-menu-after-bgcolor;
    transition: all .25s ease-out;
  }

  &:hover {
    color: $topbar-menu-hover-color;

    &:after {
      width: 100%;
      opacity: 1;
      transition: all .3s ease-in;
      background: $topbar-menu-hover-after-bgcolor;
    }

  }
}

.topbar {
  margin-bottom: 0;
  padding-top: 15px;
  color: $topbar-text-color;
  border-bottom: solid 6px #000;
  transition: all .15s;
  background-color: $topbar-bg-color;
  color: $topbar-text-color;

  &--logo {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 10px;
    @include font-family('semibolditalic');

    @include media-max480{
      font-size: 22px;
    }

    @include media-min992 {
      margin-bottom: 0;
      font-size: 30px;
    }

    @include media-min1400 {
      font-size: 35px;
    }

    span {
      @include font-family('bold');
    }

  }

  &--menu {
    @extend %inline-blockmenu;
    display: none;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;

    @include media-min992 {
      display: inline;
      float: right
    }

    @include media-min1400 {
      padding-top: 10px;
    }

    li { @extend %inline-blockmenu; }

    a {
      position: relative;
      display: block;
      margin-left: 12px;
      font-size: 13px;
      text-decoration: none;
      @extend %create-line-and-hover;

    }

  }

}

@for $count from 1 through 6 {
  .fp-viewing-anchor#{$count} {
    .topbar--menu-link:nth-child(#{$count}) a {
      color: $topbar-menu-hover-color;
      &:after {
        @extend %create-line-and-hover;
        width: 100%;
        opacity: 1;
        background-color:$topbar-menu-hover-after-bgcolor;
      }
    }
  }
}

// Menu mobile

.btn-menumb {

  position: absolute;
  top: -12px;
  right: 0;
  padding-right: 10px;
  padding-left: 10px;
  background-color: transparent;
  border: none;
  font-size: 30px;

  &:after {
    content:'\f0c9';
    font-family: 'FontAwesome';
    text-indent: 0;
  }

  &.active {
    &:after {
      content: '\f00d';
    }
  }

  @include media-min992 {
    display: none;
  }
}


.menumb {
  height: 0;
  overflow: hidden;
  font-size: 16px;
  color: #ffffff;
  text-align: center;

  transition: height 0 ease 0.1s;

  @include media-min992 {
    display: none;
  }

  &.active{
    height: auto;
  }

  ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  a {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #000000;
    border-bottom: solid 1px #ffffff;

    &:active,
    &:focus {
      color: #ffffff;
      background-color: #ca090d;
    }

  }

}

.anchor-mobile {
  position: absolute;
  visibility: hidden;
  margin-top: -50px;
  width: 50px;
  height: 50px;
  background-color: blue;
  @include media-min992 {
    display: none;
  }
}



