// Topfixed

 %inline-blockmenu {
  display: inline-block;
}

.topbar {
  padding-top: 15px;
  padding-bottom: 5px;
  color: $topbar-text-color;
  border-bottom: solid 6px #000;
  transition: all .15s;
  background-color: $topbar-bg-color;
  color: $topbar-text-color;

  &--logo {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 56px;
    @include font-family('semibolditalic');
  }

  &--menu {
    @extend %inline-blockmenu;
    padding-top: 10px;
    font-size: 16px;

    li { @extend %inline-blockmenu; }

    a {
      position: relative;
      display: block;
      margin-left: 12px;

      &:after {
        content: '';
        position: absolute;
        left:0;
        bottom: 0;
        width: 0;
        opacity: 0;
        height: 2px;
        background: $topbar-menu-after-bgcolor;
        transition: all .25s ease-out;
      }

      &:hover {
        color: $topbar-menu-hover-color;

        &:after {
          width: 100%;
          opacity: 1;
          transition: all .3s ease-in;
          background: $topbar-menu-hover-after-bgcolor;
        }

      }

    }

  }

  //  &.active {
  //   padding-top: 15px;
  //   padding-bottom: 10px;
  //   transition: all .3s;
  //   background-color: $topbar-active-bgcolor;
  //   color: $topbar-active-text-color;
  //   border-color: $topbar-active-bordercolor;

  //   .topbar--menu a:hover {
  //       color: $topbar-active-menu-hover-color;
  //       &:after {
  //         background: $topbar-active-menu-after-hover-bgcolor;
  //       }
  //   }
  // }


}


