// CSS general

body {
  @include font-family('regular');
  background-color: $body-color;
}

main { height: auto; }
b { @include font-family('bold'); }
strong { @include font-family('extrabold') }
.container { position: relative; }



// .fp-xuxa {
//   .fp-section,
//   .fp-tableCell { height: auto !important; }
// }
